/* Awal Navbar */
body {
  background-color: rgb(231, 231, 231);
  margin: 0;
}
nav.nav {
  display: flex;
  background-color: rgb(255, 255, 255);
  flex-direction: row;
  padding: 0 50px 0;
  justify-content: space-between;
  height: 50px;
  margin: 0;
}
div.kiri,
div.kanan {
  display: flex;
  flex-direction: row;
}

div.kiri {
  justify-content: space-evenly;
  align-items: center;
}
a {
  text-decoration: none;
}
.logo,
.home,
.project {
  margin-right: 25px;
}
.logo {
  font-size: 20px;
  color: rgb(173, 42, 42);
}
.home a,
.project a {
  color: black;
}
div.kanan {
  justify-content: flex-end;
  align-items: center;
}
.kanan button {
  background-color: black;
  padding: 5px;
  height: 30px;
  width: 90px;
  border: none;
  border-radius: 5px;
}

.kanan button a {
  color: rgb(221, 221, 221);
  font-size: 12px;
}
/* Akhir Navbar */

/* punya continer */
.container {
  /* background-color: aquamarine; */
  display: flex;
  margin: auto;
  width: 1000px;
  flex-direction: column;
  padding: 20px;
}
/* Punya container form */
h2 {
  text-align: center;
}
.containerForm {
  /* background-color: cadetblue; */
  font-weight: bold;
  display: flex;
  justify-content: center;
}
/* pembungkus kedua form */
.form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  /* background-color: beige; */
  width: 600px;
}
#name,
#description,
#upload {
  width: 100%;
  padding: 0;
  border: none;
  border-radius: 5px;
  height: 30px;
}

/* Punya Waktu Pengerjaan */
.waktuPengerjaan {
  /* display: flex;
  flex-direction: row;
  width: 100%; */
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* background-color: blueviolet; */
  margin: 20px 0;
}
.start,
.end {
  display: flex;
  flex-direction: column;
  /* background-color: rgb(22, 138, 142); */
}
.start {
  margin-right: 10px;
}
/* .end {
  background-color: grey;
} */
#startDate,
#endDate {
  width: 100%;
  height: 20px;
  border: none;
  border: 5px;
  padding: 1px 0;
}
/* punya textarea */
#description {
  height: 80px;
  margin-bottom: 20px;
}
/* Punya Equipment */
.equipment {
  display: grid;
  grid-template-columns: 1fr 1fr;
  color: gray;
}

input[type="checkbox"] {
  /* appearance: none;
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: white; */
  border: none !important;
}
/* Punya Upload Image */
.upload {
  /* background-color: brown; */

  margin-top: 20px;
}
.upload #upload {
  margin-bottom: 20px;
}
.paper {
  display: flex;
  flex-direction: row;
  border-radius: 5px;
  height: 30px;
  background-color: white;
  border: 1px solid white;
  margin-bottom: 20px;
}
.fa-paperclip {
  align-self: center;
  margin-right: 5px;
}

/* punya buttonForm */
.buttonForm {
  text-align: right;
}
input[type="file"]::file-selector-button {
  height: 100%;
}
.buttonForm button {
  background-color: black;
  border: none;
  border-radius: 15px;
  color: white;
  width: 80px;
  height: 30px;
  margin: 20px 0;
}
.buttonForm button:hover {
  cursor: pointer;
}
/* Bayangan */
#name,
#description,
#startDate,
#endDate,
.paper,
.card {
  box-shadow: 0 8px 10px -2px gray;
}

/* punya container preview */
#containerCard {
  /* background-color: cornflowerblue; */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.card {
  /* background-color: blueviolet; */
  padding: 10px;
  border: none;
  border-radius: 10px;
  margin-right: 10px;
}
.gambar {
  border: none;
  border-radius: 10px;
  overflow: hidden;
}
.gambar img {
  width: 100%;
}

.preview p {
  font-size: 13px;
}

div i {
  font-size: 1.2rem;
  margin: 15px;
  margin-left: 0;
}

.buttonCard {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.buttonCard button {
  background-color: black;
  color: white;
  border: none;
  border-radius: 5px;
  height: 20px;
  margin-right: 2px;
}
.duration {
  font-size: 0.8rem;
  color: gray;
}
