body {
  background-color: rgb(231, 231, 231);
  margin: 0;
  font-family: "Poppins", sans-serif;
}
nav.nav {
  display: flex;
  background-color: rgb(255, 255, 255);
  flex-direction: row;
  padding: 0 50px 0;
  justify-content: space-between;
  height: 50px;
  margin: 0;
}

section.card {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
div.kiri,
div.kanan {
  display: flex;
  flex-direction: row;
}

div.kiri {
  justify-content: space-evenly;
  align-items: center;
}
a {
  text-decoration: none;
}
.logo,
.home,
.project {
  margin-right: 25px;
}
.logo {
  font-size: 20px;
  color: rgb(189, 56, 56);
}
.home a,
.project a {
  color: black;
}
div.kanan {
  justify-content: flex-end;
  align-items: center;
}
.kanan button {
  background-color: black;
  padding: 5px;
  height: 30px;
  width: 90px;
  border: none;
  border-radius: 5px;
}

.kanan button a {
  color: rgb(221, 221, 221);
  font-size: 12px;
}

#hamburger-menu {
  display: none;
}
#hamburger-navbar {
  display: none;
  background-color: rgb(173, 168, 168);
  height: 180px;
}
#hamburger-navbar a {
  /* margin: 20px; */
  display: block;
  text-align: center;
}
#hamburger-navbar :nth-child(4) span {
  background-color: black;
  color: white;
  padding: 10px;
  height: 10px;
  width: 90px;
  border: none;
  border-radius: 5px;
}

/* Media Query Navbar */
@media only screen and (max-width: 600px) {
  .nav .kanan,
  .nav .kiri .home,
  .nav .kiri .project,
  .nav .kiri .testimonial {
    display: none;
  }
  #hamburger-menu {
    display: flex;
    align-items: center;
    background-color: transparent;
  }

  #hamburger-navbar a {
    text-align: center;
    height: 50px;
  }
}

/* Milik Card */
h1 {
  text-align: center;
  margin-top: 50px;
  /* background-color: aqua; */
}
.container {
  /* background-color: blueviolet; */
  display: grid;
  padding: 20px;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 10px auto;
}
.container1 {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px 15px 15px 15px;
  margin: 15px;
  box-shadow: 0px 8px 9px -3px rgba(179, 179, 179, 0.661);
}
.container2 {
  margin: 0;
}
.container2 :nth-child(1) {
  width: 350px;
}

/* breakpoint */

@media only screen and (max-width: 1300px) {
  .container {
    /* background-color: blueviolet; */
    display: grid;
    padding: 20px;
    grid-template-columns: 1fr 1fr;
    margin: 50px auto;
  }
}
@media only screen and (max-width: 820px) {
  .container {
    /* background-color: blueviolet; */
    display: grid;
    padding: 20px;
    grid-template-columns: 1fr;
    margin: 50px auto;
  }
}
