/* Awal Navbar */
* {
  font-family: "Poppins", sans-serif;
}
body {
  background-color: rgb(231, 231, 231);
  margin: 0;
}
nav.nav {
  display: flex;
  background-color: rgb(255, 255, 255);
  flex-direction: row;
  padding: 0 50px 0;
  justify-content: space-between;
  height: 50px;
  margin: 0;
}
div.kiri,
div.kanan {
  display: flex;
}

div.kiri {
  justify-content: space-evenly;
  align-items: center;
}
a {
  text-decoration: none;
}
.logo,
.home,
.project {
  margin-right: 25px;
}
.logo {
  font-size: 20px;
  color: rgb(173, 42, 42);
}
.home a,
.project a {
  color: black;
}
div.kanan {
  /* justify-content: flex-end; */
  align-items: center;
}
.kanan button.contactMe {
  background-color: black;
  padding: 5px;
  height: 30px;
  width: 90px;
  border: none;
  border-radius: 5px;
}
.kanan button.contactMe a {
  color: rgb(221, 221, 221);
  font-size: 12px;
}

#hamburger-menu {
  display: none;
}
#hamburger-navbar {
  display: none;
  background-color: rgb(173, 168, 168);
  height: 180px;
}
#hamburger-navbar a {
  /* margin: 20px; */

  display: block;
  text-align: center;
}
#hamburger-navbar :nth-child(4) span {
  background-color: black;
  color: white;
  padding: 10px;
  height: 10px;
  width: 90px;
  border: none;
  border-radius: 5px;
}

/* Media Query Navbar */
@media only screen and (max-width: 600px) {
  .nav .kanan,
  .nav .kiri .home,
  .nav .kiri .project,
  .nav .kiri .testimonial {
    display: none;
  }
  #hamburger-menu {
    display: flex;
    align-items: center;
    background-color: transparent;
  }

  #hamburger-navbar a {
    text-align: center;
    height: 50px;
  }
}
/* Akhir Navbar */

/* Awal Form*/

h3 {
  text-align: center;
  margin: 65px 65px 40px;
}
.container {
  background-color: rgb(231, 231, 231);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.container2 {
  display: flex;
  flex-direction: column;
  width: 400px;
}

.container2 div {
  margin: 10px;
}
input,
select,
textarea {
  background-color: rgb(255, 255, 255);
  width: 100%;
  border: none;
  border-radius: 5px;
  box-shadow: 0 4px 6px -6px #808080;
}
input,
select {
  height: 25px;
}

textarea {
  resize: none;
  height: 100px;
}

.container2 div.submit {
  text-align: right;
}
.container2 div.submit button {
  background-color: black;
  padding: 5px;
  height: 30px;
  width: 110px;
  border: none;
  border-radius: 25px;
}
.container2 div.submit button a.kirim {
  color: rgb(221, 221, 221);
}

/* Awal Card Flex */
